<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>BEYONDについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'BEYOND利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>配信動画を見る</h2>
      <ul>
        <li><%= link_to 'コミュニティ一覧', "#", class: "footer-link" %></li>
        <li><%= link_to '動画一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>BEYONDについて</h2>
      <ul>
        <li><%= link_to 'BEYONDガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'BEYONDロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <p>© BEYOND</p>
</div>